.quote-section {
    margin-bottom: 30px;
}
.quote {
    font-size: 1.5rem;
    font-style: italic;
    color: #6f2a4a;
    text-align: center;
    background-color: rgba(244, 226, 234, 0.62);
    margin: 50px auto 20px auto;
    padding: 100px;
    width: 800px;
    height: 250px;
    border-radius: 10px;

    @media (max-width: 1140px) {
        width: 100%;
        height: auto;
    }
}