.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background: transparent;

    @media (max-width: 768px) {
        gap: 10px;
    }
}
.menu-item {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #f915a8;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    transition: 0.2s background;
}
.menu-item:hover {
    background-color: #111;
}