.buttons-group {
    display: flex;
    gap: 20px;
}
.save-button {
    cursor: pointer;
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}
.cancel-button {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #464646;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}
.drawing-save-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
}